<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>About: Little Lemon 🍋</title>
  </head>

  <body>
    <header>
      <img src="../assets/Asset 16@4x.png" alt="Little Lemon logo" />
    </header>

    <nav>
      <ul>
        <li><a href="index.html"> Home</a></li>
        <li><a href="menu.html"> Menu </a></li>
        <li><a href="book.html"> Book </a></li>
        <li><a href="about.html"> About </a></li>
      </ul>
    </nav>

    <main>
      <div class="about">
        <h1>About</h1>
        <video muted controls>
          <source src="video.mp4" type="video/mp4" />
        </video>
        <p>
          Little lemon is a family-owned Mediterranean restaurant, focused on
          traditional recipes served with a modern twist.
        </p>
        <audio loop controls>
          <source src="music.ogg" type="audio/ogg" />
        </audio>
      </div>
    </main>

    <footer>
      <div class="logo-footer">
        <img src="../assets/Asset 9@4x.png" alt="Little Lemon logo" />
      </div>

      <div class="copyright">
        <h2>Little Lemon Restaurant</h2>
        <p>Copyright <span>&#169;</span></p>
      </div>
    </footer>
  </body>
</html>
