<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Little Lemon 🍋</title>
  </head>

  <body>
    <header>
      <img src="../assets/Asset 16@4x.png" alt="Little Lemon logo" />
    </header>

    <nav>
      <ul>
        <li><a href="index.html"> Home</a></li>
        <li><a href="menu.html"> Menu </a></li>
        <li><a href="book.html"> Book </a></li>
        <li><a href="about.html"> About </a></li>
      </ul>
    </nav>

    <main>
      <section>
        <img
          src="../assets/banner-foods.jpeg"
          alt="Banner with some Mediterranean foods."
        />
      </section>

      <section>
        <article>
          <img src="../assets/food1.jpg" />
          <h1>History</h1>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
            ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
            egestas semper. Aenean ultricies mi vitae est. Mauris placerat
            eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
            Vestibulum erat wisi
          </p>
        </article>
        <article>
          <img src="../assets/food2.jpg" />
          <h1>Tenets</h1>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
            ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
            egestas semper. Aenean ultricies mi vitae est. Mauris placerat
            eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
            Vestibulum erat wisi
          </p>
        </article>
        <article>
          <img src="../assets/food3.jpg" />
          <h1>Menu</h1>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
            ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
            egestas semper. Aenean ultricies mi vitae est. Mauris placerat
            eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
            Vestibulum erat wisi
          </p>
        </article>
      </section>
    </main>

    <footer>
      <div class="logo-footer">
        <img src="../assets/Asset 9@4x.png" alt="Little Lemon logo" />
      </div>

      <div class="copyright">
        <h2>Little Lemon Restaurant</h2>
        <p>Copyright <span>&#169;</span></p>
      </div>
    </footer>
  </body>
</html>
